.header {
    background-color: #67777C;
    font-size: calc(10px + 1vmin);
    color: white;
}

.header :hover {
    color: yellow;
}

.company {
    font-size: calc(15px + 2vmin);
    font-weight: bold;
}