.adminHome {
    background-color: #DEDEDE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    font-size: calc(10px + 2vmin);
    color: black;
}

/* define custom settings for buttons
    probably want to pull these stylings into another file*/

