.adminHome {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: #404040;
}

.adminHome button {
    background-color: #67777C;
    color: white;
    border-color: #67777C;
    border-width: thin;
}