.question-fields {
    margin: 2em 0em;
    padding: 1em 2em;
}

.control-label.required:before {
    content: "*";
    color: red;
}

.form-style {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
}

.side-by-side-style {
    padding: 0em 1em;
}

.formFooter {
    width:100%;
    height:22px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:600px;
    bottom: 45px;/*and to the left of the window.*/
}
.word-section {
    color:red;
}

.body-of-text{
    padding:20px;
}

.closer-body-of-text{
    margin:10px;
    padding:5px;
}

.frame {
    border: solid gray 1px ;
    border-radius: 10px;
    height: 75vh;
    overflow-y: scroll;
}

.section {
    font-weight: bolder;
    font-size: 20px;
    padding: 8px;
}

.sub-section {
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.additional-note {
    font-style: italic;
}

.checkBox {
    font-weight: bold;
}

.button {
    background-color: #5DA3C7;
    margin: 5px;
    color: white;
    border: thin #5DA3C7;
}
.card-body.toggle-card-body {
    background-color: #DEDEDE;
    padding: 0rem;
}
.card.toggle-card{
    border: 0px #DEDEDE;

}

.important {
    color: red;
}
.tableInputField {
    width: 100%;
}
.form-control.testing {
    border:1px solid red;
}
.form-control.increased-height {
    height: calc(4.25rem + 2px);
}
.form-check-input.checkbox-style {
    margin-left: auto;
}
.checkbox-div {
    width: 200px;
    padding-left: 110px;
}
.label-padding {
    padding-left:0.85rem;
}
.level1GoalsTable .rt-td {
     white-space: normal;
     text-overflow: revert;
     margin-right: 1.5rem;
 }
 .space-between {
     padding: 1rem 0rem;
 }