

.parentTable {
    background-color: #DEDEDE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: #404040;
}

.company {
    font-size: calc(10px + 3vmin);
}

.parentTableHeader {
    background-color: #67777C;
    font-size: calc(5px + 2vmin);
    color: white;
}

.navigation {
    align-items: right;
    text-align: right;
}