.form-control {
    flex-wrap: nowrap;

}

/*label {*/
/*display: block;*/
/*margin-top: 1em;*/
/*margin-bottom: 1em;*/
/*margin-left: 1em;*/
/*margin-right: 1em;*/

/*}*/
.form-style {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
}

.button-div {
    text-align: center;
    padding-top: 2rem;
}
.submit-button {
    width:10em;
    height:3rem;
}



.registration-page-title {
    text-align: center;
    padding-top: 1em;
    color: #404040;
}


.form-check {
    padding-bottom: 1em;
}

.question-fields {
    margin: 2em 0em;
    padding: 1em 2em;
}

.control-label.required:before {
    content: "*";
    color: red;
}

.signup {
    /*background-color: #DEDEDE;*/
}
.confirmationCode {
    background-color: #DEDEDE;
    border: gray 2px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2em;
    padding: 5em 3em;
}

.confirmationCodeButton{
    padding: 1em;
    margin: 0.5em;
    height: 3em;
    width: 6em;
    align-self: center;
}
.confirmation_buttons_div {
    text-align: right;
}
.confirmation-code-background {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
}
