.form-control {
    flex-wrap: nowrap;

}

/*label {*/
/*display: block;*/
/*margin-top: 1em;*/
/*margin-bottom: 1em;*/
/*margin-left: 1em;*/
/*margin-right: 1em;*/

/*}*/
.form-style {
    display: block;
}

.button-div {
    text-align: center;
    padding: 20px 0px;
}

.btn.submit-button {

    font-size: 1.5em;
}

.registration-page-title {
    text-align: center;
    padding-top: 1em;
}

.form-style {
    margin-left: 15%;
    margin-right: 15%;
}

.form-check {
    padding-bottom: 1em;
}

.question-fields {
    background-color: #DEDEDE;
    margin: 2em 0em;
    padding: 1em 2em;
}

.control-label.required:before {
    content: "*";
    color: red;

}
.confirmationCode {
    background-color: #DEDEDE;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2em;
    padding: 5em 3em;
}

.confirmationCodeButton{
    padding: 1em;
    margin: 0.5em;
    height: 3em;
    width: 6em;
    align-self: center;
}
.confirmation_buttons_div {
    text-align: right;
}
